
/* General style */

:root {
    --text: #ffffff;
    --orange-text: #F2785C;
    --blue-text: #0D606F;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    color: var(--text);
}

.content-box {
    max-width: 1200px;
    margin: 0 auto;
}

.h2-title {
    font: 500 40px/53px 'Red Hat Text', sans-serif;
    color: var(--orange-text);
    text-align: center;
    margin: 0;
}

/* Burger */

.header-burger-btn {
    position: relative;
    width: 35px;
    height: 32px;
    display: none;
}

.header-burger-btn span {
    width: 26px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    transition: all 0.3s;
}

.header-burger-btn span:nth-of-type(2) {
    top: calc(50% - 4px);
}

.header-burger-btn span:nth-of-type(3) {
    top: calc(50% + 4px);
}

.header-burger-btn.active span:first-of-type {
    opacity: 0;
}

.header-burger-btn.active span:nth-of-type(2) {
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;

}

.header-burger-btn.active span:nth-of-type(3) {
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 50%;
}

.burger-menu {
    background-color: rgba(242, 120, 92, 1);
    box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
    border-radius: 10px;
    max-width: 165px;
    margin-left: auto;
    padding: 44px 15px 30px 44px;
    position: fixed;
    top: 43px;
    right: 1%;
    z-index: 2;
    transform: translateX(200%);
    transition: all 0.4s;
}

.burger-menu.active {
    transform: translateX(0%);
    transition: all 0.4s;
}

.burger-menu-close {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.burger-menu-close span {
    width: 15px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #ffffff;
    border-radius: 5px;
}

.burger-menu-close:hover {
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.15);
    transition: all 0.2s;
}

.burger-menu-close span:nth-of-type(1){
    transform: translate(-50%, -50%) rotate(-45deg);
}

.burger-menu-container {
    display: grid;
    justify-items: end;
    gap: 10px;
    align-content: ;
    grid-template-columns: repeat();
    margin: 0;
    padding: 0;
}

/* Button */

.header-button {
    background-color: rgba(13, 96, 111, 1);
    border-radius: 10px;
    padding: 10px;
    width: 103px;
    font: 500 16px/21px "Red Hat Text", serif;
    color: var(--text);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    position: relative;
    margin: 10px 0;
}

.search-button {
    font: 500 24px/32px 'Red Hat Text', sans-serif;
    padding: 13px 33px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    color: var(--text);
    border: none;
    margin: 18px;
    position: relative;
}

.destination-button {
    display: block;
    font: 500 24px/32px 'Red Hat Text', sans-serif;
    color: var(--text);
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: none;
    padding: 13.5px 38px 13.5px 84px;
    margin: 0px auto 80px;
    position: relative;
}

.destination-button:after {
    background: url(../assets/stories-arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    left: 31px;
    top: 10px;
}

.stories-button {
    display: block;
    font: 500 24px/32px 'Red Hat Text', sans-serif;
    color: var(--text);
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: none;
    padding: 13.5px 38px 13.5px 84px;
    margin: 10px auto 0px;
    position: relative;
}

.stories-button:after {
    background: url(../assets/stories-arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    left: 31px;
    top: 10px;
}

.button-effect:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: all 1s ease;
}

.button-effect:hover:before {
    width: 100%;
}

.button-effect:active:before {
    background: rgba(255, 255, 255, 0.8);
}

/* Header */
.header-container {
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header-preview-container {
    background: url(../assets/preview_bg.jpg) no-repeat center;
    background-size: cover;
    padding-bottom: 221px;
}

.header.content-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 90px;
}

.header-logo {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 10px 0;
}

.nav-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 42px;
    margin: 0;
}

.header-nav {
    padding: 0;
}

.nav-item,
.burger-menu-item {
    list-style: none;
}

.nav-link,
.burger-menu-link {
    text-decoration: none;
    color: var(--text);
    font: 500 16px/21px 'Red Hat Text', sans-serif;
}


/* Preview */

.preview-section {
    max-width: 892px;
}

.preview-title {
    font: 700 80px/96px 'Aleo', serif;
    margin: 32px 0 0;
}

.preview-subtitle {
    font: italic 700 20px/24px 'Aleo', serif;
    margin-top: 33px;
    margin-bottom: 46px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    height: 95px;
    margin: 31px 0;
}

.search-text {
    font: italic 400 24px/29px 'Aleo', serif;
    color: var(--orange-text);
    margin: 0 41px;
}


/* Steps */

.steps-container {
    padding-top: 80px;
    padding-bottom: 97px;
}


.steps-title {
    padding-bottom: 40px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.steps-card1 {
    justify-self: start;
}

.steps-card2 {
    justify-self: center;
}

.steps-card3 {
    justify-self: end;
}

.card-image {
    display: block;
    margin: 0 auto;
}

.card-image1 {
    padding: 28px 25px;
    background: #F2785C;
    border-radius: 16px;
}

.card-image2 {
    padding: 24px;
    background: #F2785C;
    border-radius: 16px;
}

.card-image3 {
    padding: 28px 20px;
    background: #F2785C;
    border-radius: 16px;
}

.card-text {
    font: 400 20px/24px 'Aleo', sans-serif;
    color: #0D606F;
    text-align: center;
    margin: 0;
    margin-top: 30px;
}

/* Destination */

.destination-title {
    padding-bottom: 46px;
}

.destination-image-box {
    background: url(../assets/destination1.png) center no-repeat;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 800px;
}

.destination-text {
    font: 500 32px/42px 'Red Hat Text', sans-serif;
    position: absolute;
    left: 2%;
    top: 89%;
}

.destination-ellipse-container {
    display: flex;
    max-width: 80px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 24px 0 40px;
}

.destination-ellipse {
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background: rgba(242, 120, 92, 0.5);
    ;
}

/* Stories */

.stories-title {
    padding-bottom: 40px;
}

.stories-footer-container {
    background: url(../assets/stories-footer-bg.jpg) no-repeat center;
    background-size: cover;
}

.stories-white-container {
    background-color: rgba(255, 255, 255, 0.7);
}

.stories.content-box {
    padding: 40px 0;
}

.stories-card {
    display: flex;
    padding-bottom: 30px;
    align-items: top;
}

.stories-card-image {
    filter: drop-shadow(0px 4px 4px #0D606F);
    width: 400px;
    height: 250px;
}

.stories-text-wrapper {
    padding-left: 40px;
}

.stories-subtitle {
    font: 400 35px/42px 'Aleo', sans-serif;
    color: var(--blue-text);
    margin: 0;
}

.stories-card-text {
    font: 400 20px/24px 'Aleo', sans-serif;
    color: var(--blue-text);
    padding-top: 24px;
    margin: 0;
}

.stories-card-text.small {
    display: none;
}

.stories-card-text span {
    font-weight: 700;
    text-decoration-line: underline;
}


/* Footer */

.footer.content-box {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    height: 60px;
}

.footer-copyright {
    font: 500 16px/21px 'Red Hat Text', sans-serif;
    margin: 0;
    justify-self: center;
}

.footer-link-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.footer-link-item {
    list-style: none;
    margin: 0;
    padding-left: 20px;
}

.footer-link {
    text-decoration: none;
    margin: 0;
}